main {
    padding: 20px 0;
}

.about-section {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}


h1 {
    font-size: 32px;
    color: #d4bf00;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}


p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}


.mission-vision {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mission, .vision {
    width: 100%;
}

.mission {
    background-color: #e8f5e9;
    padding: 20px;
    border-radius: 8px;
}

.vision {
    background-color: #f1f8e9;
    padding: 20px;
    border-radius: 8px;
}


.team {
    margin-top: 30px;
    padding: 20px;
    background-color: #fffde7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media  Queries*/
@media (min-width: 800px) {
    .mission-vision {
        flex-direction: row;
        justify-content: space-between;
    }

    .mission, .vision {
        width: 48%;
    }
}

@media (max-width: 800px) {
    .mission-vision {
        flex-direction: column;
    }
}
